
.main-navigation {
	border-top: 2px solid #129369;
	border-bottom: 2px solid #129369;
}
.header-section,
.about-us{
	background-color: #1abe8a;
	background-image: linear-gradient(315deg, #1abe8a 0%, #002715 74%);
}
.about-us{
	background-color: #1293684d;
}
.about-info .service-title h5{
	color: #129369;
}
.progress-details .progress-line{
	background: #44b1ff;
}
.progress-details {
	background: #1366a1;
}
.style-switcher-toggler,
.testimonial-section .carousel-control-prev,
.testimonial-section .carousel-control-next{
	background-color: #129369;
}
.carousel-nav {
	border-bottom: 2px solid #bebebe;
}
.carousel-nav a,
.specs .website-process h1{
	color: #11588a;
}
.carousel-nav a:hover {
	color: #1c79bb;
}
.carousel-nav a.active {
	color: #1c79bb;
}
.carousel-nav a.active:before {
	border-bottom: 1px solid #1c79bb;
}
.main-navigation a{
	color: #11588a;
}
.main-navigation a:hover {
	border-top: 2px solid #1c79bb;
	border-bottom: 2px solid #1c79bb;
	color: #1c79bb !important;
}
.main-navigation a.active {
	border-top: 2px solid #1c79bb;
	border-bottom: 2px solid #1c79bb;
	color: #1c79bb !important;
}
.text-box a{
	color: #eee;
	background: #134b74;
}
.text-box a:hover{
	color: #134b74;
	background: #eee;
}
.text-box .second-btn{
	color: #134b74;
	background: #eee;
}
.text-box .second-btn:hover{
	color: #eee;
	background: #134b74;
}
.class-info h3,
.class-info p a,
.testimonial-item h3{
    color: #134b74;
}
.media-29101 .text .category,
.section-subtitle {
	color: #11588a;
}
.section-subtitle span:before, 
.section-subtitle span:after{
	background: #11588a;
}
.media-29101 .text h1 {
	background: #1366a1;
	color: #fff;
	border-left: 4px solid #44b1ff;
}
.specs .website-process h1 ion-icon{
	background: #1366a1;
}
.service-title h5{
    color: #11588a;
}
.about-us .title-background h1{
	color: #1f78b8;
}
.portfolio .title-background h1,
.content .text span,
.testimonial-section .title-background h1{
	color: #043b63;
}
.service-title h1 a{
	color: #11588a;
}
.testimonial-section .img-box,
.testimonial-section .decoration-imgs-item,
.testimonial-section .decoration-circle-item{
	background: #134b74;
}
.testimonial-section .img-box::before,
.testimonial-section .img-box::after{
	border: 1px solid #134b74;
}
.testimonial-section .img-box::before{
	border-left: 1px solid transparent;
}
.testimonial-section .img-box::after{
	border-right: 1px solid transparent;
}







.main-navigation a,
.carousel-nav a{
	color: #1ABE8A;
}
.main-navigation a:hover {
	border-top: 2px solid #129369;
	border-bottom: 2px solid #129369;
	color: #129369 !important;
}
.main-navigation a.active {
	border-top: 2px solid #129369;
	border-bottom: 2px solid #129369;
	color: #129369 !important;
}
.text-box a{
	color: #eee;
	background: #129369;
}
.text-box a:hover{
	color: #129369;
	background: #eee;
}
.text-box .second-btn{
	color: #129369;
	background: #eee;
}
.text-box .second-btn:hover{
	color: #eee;
	background: #129369;
}
.class-info h3,
.class-info p a,
.testimonial-item h3{
    color: #129369;
}
.progress-details {
	background-color: #12936885;
}
.carousel-nav a:hover {
	color: #129369;
}
.carousel-nav a.active {
	color: #129369;
}
.carousel-nav a.active:before {
	border-bottom: 1px solid #129369;
}
.media-29101 .text .category {
	color: #129369;
}
.media-29101 .text h1 {
	color: #129369;
	border-left: 4px solid #129369;
}
.service-title h5{
    color: #129369;
}
.portfolio .title-background h1,
.about-us .title-background h1,
.testimonial-section .title-background h1{
	color: #129369;
}
.service-title h1 a{
	color: #129369;
}
.testimonial-section .img-box,
.testimonial-section .decoration-imgs-item,
.testimonial-section .decoration-circle-item{
	background: #129369;
}
.testimonial-section .img-box::before,
.testimonial-section .img-box::after{
	border: 1px solid #129369;
}
.testimonial-section .img-box::before{
	border-left: 1px solid transparent;
}
.testimonial-section .img-box::after{
	border-right: 1px solid transparent;
}
